// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: top;
  padding: 200px 0;
  height: 800px;
  // position: relative;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url('home_background_alternative_1.jpg');;
}

.banner-form {
  // position: absolute;
  margin: auto 0;
  // width: 350px;
  padding: 16px;
  background-color: white;
  border-radius: 10px;
  opacity: 90%;
}

.banner-form h2 {
  font-size: 25px;
}

.content {
  display: flex;
}

.form-container {
  width: 400px;
  font-size: 14px;
}

.how-it-works{
  text-align: center;
    padding: 16px;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 0px;
}

.how-it-works h2 {
  padding-bottom: 16px;
  padding-top: 16px;
  }

.image-container{
  height: 261px;
  position: relative;
}

.step{
  margin-top: 16px;
}
