.background-grey {
  background-color: #7B858A;
  padding-top: 20px;
  padding-bottom: 20px;
}

.background-grey-login {
  background-color: #7B858A;
  // padding-top: 20px;
  // padding-bottom: 20px;
  height: 800px;
}

.devise-form-container {
  width: 60%;
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  // margin-top: 30px;
  // margin-bottom: 30px;
  border-radius: 30px;
  background-color: white;
}

.devise-form-container h2 {
  font-size: 25px;
  text-align: center;
  padding-bottom: 15px;
}

.form-actions {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  text-align: center;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.form-actions:hover {
  opacity: 1;
}

