.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.navbar {
    // background-color: #47555E;
    background: rgba(71, 85, 94, .7);
    border-color: #47555E;
    // opacity: 70%;
    // position: absolute;
    width: 100%;
}

.nav-item {
  color: white;
}
