.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.navbar {
    // background-color: #47555E;
    background: #47555E;
    border-color: #47555E;
    // opacity: 70%;
    // position: absolute;
    width: 100%;
}

// .navbar-nav li a {
//   color: white !important;
// }

#main a {
  color: white !important;
}
