<!-- Appointments#new</h1> -->
<!-- Find me in app/views/appointments/new.html.erb</p> -->
<%= simple_form_for [@course, @appointment] do |f| %>
  <% array = course.timeslots.map {|timeslot| timeslot.date }.uniq %>
  <% array.each do |date| %>
    <!-- <p ><% date %></p> -->
    <p class="text-left"><%= Date.strptime(date,'%m/%d/%Y').strftime('%a, %b %d, %Y')  %></p>
    <%= f.input :timeslot, include_blank: "Select time", input_html: {name: "appointment[timeslot][]"}, label: false, collection: course.timeslots.where(date: date), label_method: :time %>
  <% end %>
  <%= f.submit "Book", class: "btn btn-primary" %>
<% end %>
