<h1>Appointments#new</h1>
<p>Find me in app/views/appointments/new.html.erb</p>


<%= simple_form_for [@course, @appointment] do |f| %>
  <%= f.association :timeslot, collection: @timeslots, label_method: :timeslot_label %>
  <%= f.submit "Add this appointment to your calendar"%>
<% end %>
