<div class='container'>
<h4>Share your experience:</h4>
<%= simple_form_for [@course, @review] do |f| %>
  <%= f.input :stars, collection: 1..5 %>
  <%= f.input :description %>
  <p align="right">
  <%= f.submit class: "btn btn-primary" %>
  </p>
<% end %>
</div>
