<h1>Timeslots#edit</h1>
<p>Find me in app/views/timeslots/edit.html.erb</p>

<%= simple_form_for [@timeslot] do |f| %>
  <%= f.input :date %>
  <%= f.input :time %>
  <%= f.submit "add a timeslot"%>
<% end %>
