<h1>Timeslots#index</h1>
<p>Find me in app/views/timeslots/index.html.erb</p>

  <% @timeslots.each do |timeslot| %>
    <div>
      Date: <%= timeslot.date %>
      Time: <%= timeslot.time %>
    </div>
  <% end %>

<%= link_to "Create timeslot for this course", new_course_timeslot_path %>
<!-- %= link_to "Edit timeslot for this course", edit_course_timeslot_path %> -->
 <!-- link_to "Delete timeslot for this course", delete_course_timeslot_path %> -->

<!--  -->
